<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <div class="main-content">
      <header>
        <div class="main_header">
          <div>
            <h1>Clubhouse XD</h1>
          </div>
          <% if (locals.currentUser) { %>
          <div class="username_and_logout">
            <h2 class="username"><%= currentUser.username %></h2>
            <h2 class="full_name">
              <%= currentUser.first_name %> <%= currentUser.last_name %>
            </h2>
            <a href="/log-out" class="log_out_link">log out</a>
            <a href="/secret-code" class="secret_code_link"
              >Enter Secret Code</a
            >
          </div>
          <% } %>
        </div>
      </header>
      <main>
        <div>
          <section class="signUpSectionForm">
            <% if (locals.currentUser) { %>
            <!-- show the client the content if logged in -->

            <div class="create_message_form">
              <div class="create_message_button">
                <button class="toggle_create_message">Create Message</button>
              </div>
              <%- include('../createMessageView/createMessage', { errors }) %>
            </div>
            <div class="user_content">
              <%- include('../listOfMessagesView/listOfMessages', { messages })
              %>
            </div>
            <% } else { %>
            <!-- show user the errors -->

            <div class="error_signing_up">
              <% if (errors) { %> <% errors.map(({ msg }) => { %>
              <p><%= msg %></p>
              <% }) %> <% } %>
            </div>

            <%- include('signUpView/signUp') %> <% } %>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
